# DATA
numpy
# pandas

# VIZ
# matplotlib
# seaborn
# bokeh

# TEST
pytest
black

# FLASK
flask
WTForms
flask-bcrypt
flask-wtf
Flask-Scss
flask-session
flask-login
Flask-Mail
email_validator
gunicorn
requests


# selenium

# DB
redis

# MISC
python-dotenv
libsass
